*{
    font-family: sans-serif;
}

header{
    height: 10%;
    font-family: sans-serif;
    font-size: medium;
    display: block;
    margin: 3% 10% 3% 10%;
}

#upper{
    font-family: sans-serif;
    font-size: medium;
    color: gray;
    margin-bottom: 2%;
}

#upper a{
    color: gray;
    text-decoration: none;
}

#upper-left{
    display: inline-block;
}

#upper-right{
    /* display: inline-block; */
    float: inline-end;
}

#upper select{
    display: inline;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    font-size: medium;
    color: gray;
}

#upper-left p{
    padding-left: 20px;
    display: inline;
}

#upper-right p{    
    padding-right: 20px;
    display: inline;
}

#nav-bar{
    font-family: sans-serif;
    font-size: medium;
    color: rgb(100, 100, 100);
    margin-bottom: 3%;
}

#nav-bar a{
    color: rgb(100, 100, 100);
    text-decoration: none;
}

#nav-bar select{
    padding-left: 20px;
    display: inline;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    font-size: medium;
    color: rgb(100, 100, 100);
}

#nav-bar-left{
    margin-top: 1%;
    display: inline-block;
}

#nav-bar-right{
    float: inline-end;
}

#nav-bar p{
    padding-left: 20px;
    display: inline;
}

/* #nav-bar #logo{
    padding-left: 0px;
    color: black;
    font-size: x-large;
} */

#nav-bar #logo{
    margin-bottom: -10px;
}

#nav-bar-right button{
    cursor: pointer;
    padding: 15px;
    margin-left: 10px;
    float: inline-end;
    font-size: medium;
}

#nav-bar-right .button-start-free-trial{
    /* padding: 14px; */
    background-color: rgb(36, 124, 197);
    border-color: rgb(36, 124, 197);
    color: rgb(36, 124, 197);
    border: 1px;
    border-style: solid;
    border-radius: 12px;
    display: block;
}

#nav-bar-right .button-start-free-trial p{
    color: white;
    margin-left: -15px;
}

.button-get-demo{
    /* padding: 15px; */
    background-color: white;
    color: rgb(36, 124, 197);
    border-color: rgb(36, 124, 197);
    border: 1px;
    border-style: solid;
    border-radius: 12px;
}

section{
    height: 10%;
    font-family: sans-serif;
    font-size: medium;
    display: block;
    margin: 3% 10% 10% 10%;
}

.container-body{
    margin-top: 10%;
    cursor: default;
    font-family: sans-serif;
    font-size: medium;
    color: rgb(100, 100, 100);
    margin-bottom: 5%;
}

#bordered-text{
    cursor: pointer;
    margin-left: 36.5%;
    margin-right: 36.5%;
    padding-left: 10px;
    padding-right: 5px;
    color: rgb(100, 100, 100);
    border: 1px;
    border-style: solid;
    border-radius: 30px;
    border-color: black;
    box-shadow: 0px 10px 30px 1px rgb(202, 199, 199);
}


#title{
    color: black;
    text-align: center;
    font-size: 40px;
}

#info{
    color: gray;
    text-align: center;
    padding-bottom: 5px;
}

.container-body button{
    /* padding: 15px; */
    margin-top: 2%;
    margin-left: 10px;
    font-size: medium;
}

.container-body button:hover{
    cursor: pointer;
}

.container-body .button-start-free-trial{
    display: inline;
    margin-left: 38.1%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(36, 124, 197);
    border-color: rgb(36, 124, 197);
    color: rgb(36, 124, 197);
    border: 1px;
    border-style: solid;
    border-radius: 12px;
}

.container-body .button-start-free-trial p{
    color: white;
    margin-left: 0px;
}

.button-watch-video{
    margin-left: 5px;
    display: inline;
    padding: 15px;
    background-color: white;
    border: 1px;
    border-style: solid;
    border-radius: 12px;
}

#screen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    min-width: 1200px;
    max-width: 100%;
    height: 480px;
    margin: auto;
    background-image: url(./images/Screen.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 13px;
    margin-bottom: 8%;
}

#screen .video{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: #ffffff;
    border: 5px solid rgba(0, 0, 0, 0.5); /* Dodajte border radi testiranja */
    border-radius: 13px; /* Pravilno zaobljenje */
    overflow: hidden; /* Osigurajte da unutrašnji sadržaj ne izlazi */
    border-radius: 40px;
    border-style: solid;
    border-width: 10px;
    border-color: #ffffff33;
}

#screen p{
    display: block;
    color: #666;
}

.btn-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#screen .play-video{
    color: #5373ff;
}

.partners-logo{
    text-align: center;
    margin-top: 50px;
}

.partners-logo p{
    margin-bottom: 30px;
    color: #666;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}
